name: auto-approve
on:
  pull_request_target:
    types:
      - opened
      - labeled
      - ready_for_review
      - reopened
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  approve:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    env:
      GIT_REF: ${{ github.event.pull_request.head.ref }}
      GIT_REPO: ${{ github.event.pull_request.head.repo.full_name }}
      PR_ID: ${{ github.event.pull_request.number }}
    if: contains(github.event.pull_request.labels.*.name, 'auto-approve') && github.event.pull_request.draft == false
    steps:
      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: cdktn-io
          repositories: ${{ env.GIT_REPO }}

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Checkout PR
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ env.GIT_REF }}
          repository: ${{ env.GIT_REPO }}
      - name: Auto-approve PRs by other users as team-cdk-terrain[bot]
        if: github.event.pull_request.user.login != 'team-cdk-terrain[bot]' && (contains(fromJSON('["OWNER", "MEMBER", "COLLABORATOR"]'), github.event.pull_request.author_association) || github.actor == 'dependabot[bot]')
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: gh pr review $PR_ID --approve
      - name: Auto-approve PRs by team-cdk-terrain[bot] as github-actions[bot]
        if: github.event.pull_request.user.login == 'team-cdk-terrain[bot]'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr review $PR_ID --approve
