name: "Upgrade Provider Repositories"

on:
  workflow_dispatch: {}
  workflow_call: {}

jobs:
  build-provider-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - id: set-matrix
        run: |
          provider=$(jq -rcM "{ provider: keys }" provider.json)
          echo "matrix=$provider" >> $GITHUB_OUTPUT

  upgrade-provider:
    needs: build-provider-matrix
    name: "Upgrade"
    runs-on: ubuntu-latest
    container:
      image: docker.mirror.hashicorp.services/hashicorp/jsii-terraform
    strategy:
      fail-fast: false
      matrix: ${{fromJSON(needs.build-provider-matrix.outputs.matrix)}}
      max-parallel: 5
    steps:
      - name: Checkout this repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: main

      - name: Generate GitHub App token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_PRIVATE_KEY }}
          owner: cdktn-io
          repositories: cdktn-provider-${{ matrix.provider }}

      - name: Get GitHub App User ID
        id: get-user-id
        run: echo "user-id=$(gh api "/users/${{ steps.app-token.outputs.app-slug }}[bot]" --jq .id)" >> "$GITHUB_OUTPUT"
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}

      - name: Checkout cdktn-provider-${{ matrix.provider }} Repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: cdktn-io/cdktn-provider-${{ matrix.provider }}
          token: ${{ steps.app-token.outputs.token }}
          path: provider

      - name: Setup Node.js
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: "20"

      - name: Setup Copywrite tool
        uses: hashicorp/setup-copywrite@32638da2d4e81d56a0764aa1547882fc4d209636 # v1.1.3

      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        name: Create projen run commands file
        with:
          script: |
            const {resolve} = require('path')
            const scriptPath = resolve("./main/.github/lib/create-projen-files")
            const script = require(scriptPath)
            script({
              providerName: "${{matrix.provider}}"
            })

      - name: Upgrade provider project
        run: |
          unset CI
          git config user.name "${{ steps.app-token.outputs.app-slug }}[bot]"
          git config user.email "${{ steps.get-user-id.outputs.user-id }}+${{ steps.app-token.outputs.app-slug }}[bot]@users.noreply.github.com"
          git checkout -b foo-bar-${{ github.run_number }}
          yarn add --dev @cdktn/provider-project@latest
          npx projen
          yarn install --check-files
          yarn fetch
          # fix the readme as it requires src/version.json to be populated
          npx projen
        working-directory: ./provider
        env:
          NODE_OPTIONS: "--max-old-space-size=7168"

      - name: Add headers using Copywrite tool
        run: copywrite headers
        working-directory: ./provider

      - name: Check for changes
        id: git_diff
        run: |
          git diff --exit-code || echo "has_changes=true" >> $GITHUB_OUTPUT
        working-directory: ./provider

      - if: steps.git_diff.outputs.has_changes
        name: Detect breaking version changes
        id: diff_changes
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const {resolve} = require('path')
            const scriptPath = resolve("./main/.github/lib/collect-changes")
            const script = require(scriptPath)
            await script({core, exec})

      - if: steps.git_diff.outputs.has_changes
        name: Commit (${{steps.diff_changes.outputs.has_breaking_changes && 'breaking' || 'unbreaking'}}) changes and push changes (if changed)
        run: |
          git checkout -b upgrade-provider-project-${{ github.run_number }}-${{ github.run_attempt }}
          git add .
          git commit -m "${{ steps.diff_changes.outputs.commit_message }}"
          git push --set-upstream origin upgrade-provider-project-${{ github.run_number }}-${{ github.run_attempt }}
        working-directory: ./provider

      - if: steps.git_diff.outputs.has_changes
        name: "Create PR"
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          retries: 5
          retry-exempt-status-codes: 400,401,404
          script: |
            const {resolve} = require('path')
            const scriptPath = resolve("./main/.github/lib/create-pr")
            const script = require(scriptPath)
            await script({
              github,
              branchName: "upgrade-provider-project-${{ github.run_number }}-${{ github.run_attempt }}",
              prTitle: "${{ steps.diff_changes.outputs.commit_message }}",
              providerName: "${{matrix.provider}}"
            })

      - name: Send failures to Slack
        if: ${{ failure() && !cancelled() }}
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          webhook: ${{ secrets.FAILURE_SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            {
              "provider_name": "${{ matrix.provider }}",
              "run_url": "https://github.com/cdktn-io/cdktn-repository-manager/actions/runs/${{ github.run_id }}"
            }
